<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yjw.shop.ucenter.mapper.PurchaseRecordMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yjw.shop.b2c.entity.PurchaseRecord">
        <result column="commoditySKU" property="commoditySKU" />
        <result column="puprice" property="puprice" />
        <result column="flyprice" property="flyprice" />
        <result column="puquantity" property="puquantity" />
        <result column="totalpurchase" property="totalpurchase" />
        <result column="costprice" property="costprice" />
        <result column="putime" property="putime" />
        <result column="remarks" property="remarks" />
        <result column="cname" property="cname" />
        <result column="supplierlink" property="supplierlink" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        commoditySKU, puprice, flyprice, puquantity, totalpurchase, costprice, putime, remarks, cname, supplierlink
    </sql>
</mapper>
